@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    padding-left: 192px;
    padding-right: 192px;
    background: rgb(245, 245, 245);
}

/* navber styles */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 29px;
    

}
.navbar a{
    text-decoration: none;
}

.logo{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    
}

.btn1{

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 600;
    padding: 18px 36px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    
    
}

/* style banner sections */

.banner-section{
    max-width: 1536px;
    font-family: Fira Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    padding: 96px 120px ;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 96px;
}



.banner-sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 19px;
    

}

.banner-title{
    color: rgb(14, 14, 14);
    font-size: 67px;
    font-weight: 700;
    
    
}


.btn2{
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    margin-top: 28px;
}

.btn2:hover{
    color: rgb(0, 106, 80);
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

/* card section  */

.card-section{
    margin-bottom: 96px;
}

.card-section-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 38px;
    
}
.cards{
    display: flex;
    gap: 24px;
}

.card{
    padding: 29px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px; 
    background: rgb(255, 255, 255);

}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
    
}

.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 29px;
}

.cards2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;

}

#card-1{
    width: 492px;
    gap: 24;
    padding: 39px;
    margin-top: 39px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    }

#card-2{
    width: 492px;
    gap: 24;
    padding: 39px;
    margin-top: 39px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    }

#card-3{
    width: 492px;
    gap: 24;
    padding: 29px;
    margin-top: 39px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    }

.card-title2{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card-description2{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    
}

#card-button1{

    padding: 13px 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background: rgb(84, 144, 245);
    margin-top: 29px;
}

#card-button2{
    padding: 13px 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    margin-top:58px;
}

#card-button3{
    padding: 13px 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
    margin-top:77px;
}


/* quote section-- */

.quote-section{
    padding: 58px 29px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 96px;
    
}
#quote-bg-img{
    background-image: url(../assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: 29px;
    background-position-y: 50px;
    
    
}
.quote-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 29px;
}

.quote-sub-title{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
}
/* recent news */
.recent-news{
    display: flex;
    flex-direction: column;
    gap: 29px;
    
}
.recent-news-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 96px;
    margin-bottom: 29px;
}
.recent-news-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 39px;
    line-height: 29px;
}

.news-img{
    border-radius: 24px;
    width: 483px;
    height: 360px;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 15px;
}



.news{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 58px;
    gap: 39px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}

.date-time{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.date-time .date{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    
}

.date-time .time{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    
}

.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 39px;
    line-height: 29px;
}

.news-btn{
    padding: 16px 31px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
}

/* Donate section styles */

.donate-section{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.donate-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.donate-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px 105px 0px 105px;
    margin-top: 29px;
    margin-bottom: 38px;
}

.donate-cards{
    display: flex;
    justify-content: flex-start;
    gap: 29px;
    padding-left: 125px;
    padding-right: 125px;
    margin-bottom: 39px;
}

.donate-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px;
    background: rgb(255, 255, 255);
}

.card-amount{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 45px;
    font-weight: 700;
}



.input-field{
    padding: 24px 48px;
    width: 80%;
    box-sizing: border-box;

    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
}
.input-field > input{
    width: 100%;
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 400;
    
}

.donate-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-top: 39px;
    border: none;
}

/* style newsletter section */
.news-letter-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 96px 120px 96px 120px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 96px;
}

.news-letter{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
    
    
}

.news-letter-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 19px;
    
}

.news-letter-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    
}

label{
    position: relative;
}

input{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    width: 720px;
    border: none;
    padding: 21px 48px 21px 48px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    
}
.letter-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 21px 41px 21px 41px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);

}

.sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}